<a href="https://colab.research.google.com/github/sxnxgxhxe/-/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%EA%B8%B0%EC%B4%88%EC%BD%94%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 주석입니다

'''
여러줄
주석입니다.
'''

"""
여러줄
주석입니다.
"""

'\n여러줄\n주석입니다.\n'

# 주석

# 변수

In [ ]:
# 마지막라인만 출력
1 + 1
2 + 2
3 + 3
4 + 4

8

In [ ]:
# ctrl alt 윗방향키, 모두다 출력, '파이썬'에서 '변수'는 가르키는 것(화살표) 저장x
print(1 + 1)
print(2 + 2)
print(3 + 3)
print(4 + 4)

2
4
6
8

In [ ]:
name = 'seunghoe'
age = 10

In [ ]:
age + age

20

In [ ]:
x = 10
y = x
z = y

# 화살표는?

# 오해 : z > y > x > 10

# x > 10
# y > 10
# z > 10

In [ ]:
id(x), id(y), id(z)

(140007806059024, 140007806059024, 140007806059024)

In [ ]:
x = 10
y = x
z = y

y = 20
print(z)

10

In [ ]:
Apple = 10
apple = 20

In [ ]:
Apple, apple

(10, 20)

In [ ]:
# 변수명앞에 숫자x ex)1hello x

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
'''
관습 : 일반변수 앞은 소문자, 스네이크 표기법(띄어쓰기를 언더바(_))
'''

'\n관습 : 일반변수 앞은 소문자, 스네이크 표기법(띄어쓰기를 언더바(_))\n'

In [ ]:
neme = 'hojun'
age = 10

print(type(neme))
print(type(age))

<class 'str'>
<class 'int'>

In [ ]:
neme + name

'hojunseunghoe'

In [ ]:
age + age

20

In [ ]:
# 컴퓨터 입장에서는 두개 모두 2진수

In [ ]:
print(type(name))
print(dir(name))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
neme.upper()

'HOJUN'

In [ ]:
a = 10      # int, 정수형
b = -1      # int, 정수형
c = 0b110   # int, 정수형(2진법)
d = 0o56    # int, 정수형(8진법)
e = 0xAC    # int, 정수형(16진법)

f = 10.1    # float, 실수형

g = 10 + 2j # complex, 복소수

h = 'good'  # str, 문자열
i = '10'    # str, 문자열

j = True    # bool, 논리 자료형(부울형)

k = None    # NoneType

l = [1, 2, 3, 4]       # list, 리스트 자료형
m = ['one', 'two']     # list, 리스트 자료형
n = (1, 2, 3, 4)       # tuple, 튜플 자료형
o = ('one', 'two')     # tuple, 튜플 자료형
p = {'one':1, 'two':2} # dict, 딕셔너리 자료형
q = {1, 2, 3, 4}       # set, 셋 자료형

def r():    # function, 함수
    return

s = print # bulit-in function
t = lambda x:x**2 # function
u = int # type

class Character: # class, 클래스
    pass

hero = Character()    # instance
Villain = Character() # instance

# 정수 자료형

In [ ]:
x = 10
y = 3

print(x + y)
print(x - y)
print(x / y) # float, 실수형으로 반환
print(x // y) # int, 정수형으로 반환
print(-10 // 3) # 음수를 나눌 때 내림이라는 사실을 기억해주세요.
print(x * y)
print(x + y)
print(4 ** 0.5) # 제곱근, 이렇게 많이 사용합니다.
print(x % y) # 나머지, 나머지를 출력합니다.

13
7
3.3333333333333335
3
30
1000
1

In [ ]:
bin(10) # ''가 있다면 문자열(주의), 2진법 변환 하지만 숫자가 아닌 문자로 준다.

'0b1010'

In [ ]:
int('0b1010', 2) # 위에 문자열을 숫자로 다시 바꾸어 준다. 10진법으로 바꾸어줌

10

In [ ]:
#진법을 바꿀때 2진법에 가까운 승에 +함

# 실수

In [ ]:
10.0 - 2 #실수 - 정수 = 실수

8.0

In [ ]:
10 - 2.0 # 정수 - 실수 = 실수

8.0

In [ ]:
float("inf") > 10

True

In [ ]:
-float("inf") < 10

True

In [ ]:
float("inf") * 2
float("inf") + 2
float("inf") / 2

inf

In [ ]:
float("-inf")
-float("inf")

-inf

# 문자열

In [ ]:
a = 'hello' #'' "" 만 기억해놓자
b = "hello"
c = '''hello'''
d = """hello"""
e = f'hello'
f = r'hello'

In [ ]:
a[0] # 0을 index라고 부릅니다. 이렇게 값을 호출하는 것을 indexing이라고 합니다. #숫자는 항상 0부터 시작

'h'

In [ ]:
(a[0] + a[4]) * 2 # 문자열을 더하면 이어붙이고, 곱하면 반복

'hoho'

In [ ]:
a[-1] # 실제로 연산될 때에는 음수를 양수로 전환한 후에 연산이 이뤄집니다. # a[-1] = a[4]

'o'

In [ ]:
a[100]

IndexError: string index out of range

In [ ]:
s = 'hello world' #시험문제
s[0] + s[1] + s[2] + s[3] + s[4]

'hello'

In [ ]:
# 위 처럼 어디서부터 어디까지의 문자열을 잘라내고 싶을 때
# 슬라이싱을 사용할 수 있습니다.
# 변수명[start:stop:step] ex) s[1:11:2]

In [ ]:
s = 'hello world'
s[0:5]

'hello'

In [ ]:
s = 'hello world'
s[6:11]
s[6:12]
s[6:13]
s[6:14]
# 슬레이싱은 범위가 벗어나더라도 에러가 나지 않음
s[6:] # 보통은 마지막까지면 stop값을 생략합니다. ,처음도 생략이 가능하다 ex)s[:] (처음부터 마지막)
s[:5] # hello
s[::2] # 이런 코드는 실무에서 자주 사용하지 않음
s[::-1] # 많이 사용 , 역순
s[6:0:-1] # 거의 사용 안함

'w olle'

In [ ]:
#연습문제
#a, jpg, abc,png, abcd,mp4 이런 값들이 들어왔을때 확장자를 알아내는 코드를 작성하시오. 단 확장자는 3자리로 고정합니다(jpg, png, ap4 등)

s = 'hello.jpg' #슬라이싱을 이용해 확장자를 구하시오
s[-3:]

'jpg'

In [ ]:
# 문자열 메서드 #편의기능
s = 'hello'
dir('s') #capitalize부터 외우자

In [ ]:
s = 'Hello World'
s.upper() #대문자로 바꾸기

'HELLO WORLD'

In [ ]:
s.lower() #소문자로 바꾸

'hello world'

In [ ]:
# 필수로 알아야하는 메서드 목록
# count
# find
# index
# format
# isdigit
# join
# replace
# split
# strip
# zfil

In [ ]:
# count
'112233344'.count('1')
# '123123'. count(1) X

2

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
str(l).count('1')

str(list(range(10000))).count('8')

4000

In [ ]:
'hello world hello'.find('world')
# 'hello world hello'.find('hi') , 못찾으면 -1

# 나아가기
s = 'abcde'
if s.find('hi'):
    print(s[s.find("hi")], '찾았다!')

e 찾았다!

In [ ]:
'hello world hello'.index('world')
# 'hello world hello'.index("hi") X

6

In [ ]:
'제 이름은 이호준 입니다. 제 나이는 10살 입니다.'

# name = '이호준'
name = '김승회'
age = 10

'제 이름은 {} 입니다. 제 나이는 {}살 입니다.'.format(name, age)
'제 이름은 {0} 입니다. 제 나이는 {0}살 입니다.'.format(name, age)
'제 이름은 {1} 입니다. 제 나이는 {1}살 입니다.'.format(name, age)

'제 이름은 10 입니다. 제 나이는 10살 입니다.'

In [ ]:
# f-string 용법(3.6에서 나온 문법입니다.)
f'제 이름은 {name} 입니다. 제 나이는 {age} 입니다.'

'제 이름은 김승회 입니다. 제 나이는 10 입니다.'

In [ ]:
'123'.isdigit()
'12a3'.isdigit()

# int('123') ==> 123
# int('12a3') ==> error

In [ ]:
# join
# replace
# split
# strip
# zfill

In [ ]:
'!'.join(['010', '5044', '2903'])

'-'.join(['010', '5044', '2903'])

# 나아가기
# '.'.join('hello') # join(순회 가능한 객체)

'010-5044-2903'

In [ ]:
'010.5044.2903'.split('.') #괄호안을 기준으로 잘라내줌

['010', '5044', '2903']

In [ ]:
# 나아가기
'-'.join('010.5044.2903'.split('.'))

'010-5044-2903'

In [ ]:
'hello world'.replace('hello', 'hi')

'hi world'

In [ ]:
# 1은 #으로 바꾸고 0은 공백으로 바꾸세요!
text = '101010'.replace('1', '#')
text = text.replace('0', ' ')
text

'# # # '

In [ ]:
# 보통 메서드 체이닝을 사용합니다
'101010'.replace('1', '#').replace('0', ' ')
# replace은 연속사용 가능

'# # # '

In [ ]:
# strip은 공백 제거
'         hello        '.strip()
'    hello world      '.strip()
# 공백 제거로 replace 사용 x

'hello world'

In [ ]:
'3'.zfill(10) # 숫자나 날짜 표기할 때 많이 사용합니다.

'0000000003'

In [ ]:
# '24/03/18' 이렇게 되어 있는 문자를 '24-03-18'로 바꿔 주세요.

'24/3/18'.replace('/', '-').replace('3', '3'.zfill(2))
# 좋은 정답은 아닙니다.
# 나중에 리스트도 배우고, 반복문도 배우면 좋은 정답을 사용하실 수 있습니다.

'24-03-18'

# 논리 자료형

In [ ]:
True
False
type(True)

bool

In [ ]:
# 형변환
int('10')
int(10.1)

type(10)

int

In [ ]:
True == 1

True

In [ ]:
False == 0

True

In [ ]:
# 비교연산
a = 10
b = 3

print(a > b)
print(a >= b)
print(a <= b)
print(a < b)
print(a == b)
print(a != b) # != 주의 a가 b랑 다르다

True
True
False
False
False
True

In [ ]:
# and 논리 곱
# or 논리 합
# not 부정

print(True and False)
print(False and True)
print(False and False)
print(True and True)

False
False
False
True

In [ ]:
print(True or False)
print(False or True)
print(False or False)
print(True or True)

True
True
False
True

In [ ]:
# and or 활용
#for i in range(100):
 #       print(i)

for i in range(100):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
print(bool(0))
print(bool(100))
print(bool(-1))
print(bool('hello'))
print(bool(''))

False
True
True
True
False


# None 자료형

In [ ]:
# 비어있음을 명시적으로 나타내는 자료형
x = None
x # 출력하지 않습니다.

In [ ]:
print(x)

None

# 메서드 채이닝

In [ ]:
'hello world'.replace('hello', 'hi')

'hi world'

In [ ]:
'hello world'.replace('hello', 'hi')
'hello world'.replace('hello', 'hi').replace('world', 'jeju')

'hi jeju'

In [ ]:
# 메서드 채이닝의 주의! =>
# 처음의 값 'hello world'이 값에 메서드를 연속해서 쓰는 것이 아니라
# 각 메서드의 반환값을 연속해서 씁니다.

In [ ]:
# 'hello world'.split(' ').replace('hi', 'world')
# 위와 같은 코드는 error입니다

In [ ]:
'hello world'.replace('hi', 'world').replace('hi', 'world').replace('hi', 'world')

# 형 변환

In [ ]:
x = 10
y = '10'

x + y

In [ ]:
x + int(y)

20

In [ ]:
str(x) + y

'1010'

In [ ]:
'''
Built-in Function	기능
int()	정수로 변환
str()	문자열로 변환
float()	실수로 변환
list()	리스트로 변환
tuple()	튜플로 변환
dict()	딕셔너리로 변환
set()	셋으로 변환
'''

In [ ]:
int(10.3) + 1000

1010

# 할당 연산

In [ ]:
# 비교연산, 논리연산, 산술연산 모두 진행했습니다.
# 연산자 우선순위 시험에 나옴
# 산술연산 > 비교연산 > 논리연산

In [ ]:
a = 10
a = a + 10
a

20

In [ ]:
a = 10
a += 10 # a = a + 10
a

20

# 식별연산

In [ ]:
x = 10
y = x

x is y

True

True

In [ ]:
id(x) == id(y)

True

In [ ]:
x = 10
y = 10

x is y

True

In [ ]:
x = 1000
y = 1000

x is y

False

In [ ]:
# -5 ~ 256
x = 257
y = 257

x is y

False

In [ ]:
x is not y

True

In [ ]:
# None 비교는 is로 함
x is None

False

# 멤버연산

In [ ]:
'h' in 'hello world'

True

In [ ]:
'h' not in 'hello world'

False

# 리스트

In [ ]:
# 1. 여러개의 데이터를 저장하고 싶을 때 사용
# 여러개의 데이터를 저장하고 싶을 때 주로 고려하는 자료형 :
# 리스트, 딕셔너리, 클래스
# 2. 변경이 가능한 자료형입니다.
# 3. 순서가 있는 자료형입니다. (시퀀스형 자료형)
# 4. 순회가 가능한 자료형입니다. (이터러블한 자료형)

In [ ]:
s = [10, 20, 30, 40]
s = ['a', 'b', 'c', 'd']
s = [10, 'a', 10.1] # 이런식으로 다른 자료형들과 혼합해서 사용하진 않습니다.

In [ ]:
l = [10, 20, 30, 40]
l[0]
l[3]

40

In [ ]:
l[4] # 순서 넘어가면 error

IndexError: list index out of range

In [ ]:
# 인덱싱이 가능하니 슬라이싱도 가능합니다.
# 시퀀스 자료형의 특징이고 앞에서 배웠던 문자열도 시퀀스형 자료형입니다.

l[:3]

[10, 20, 30]

In [ ]:
# append
# copy
# count
# extend
# index
# insert
# pop
# remove
# reverse
# sort

In [ ]:
l = [10, 20, 30]
l.append(100)
l

[10, 20, 30, 100]

In [ ]:
x = [10, 20, 30]
y = x

y.append(100)

x, y

([10, 20, 30, 100], [10, 20, 30, 100])

In [ ]:
x = [10, 20, 30]
y = x.copy()

y.append(100)

x, y

([10, 20, 30], [10, 20, 30, 100])

In [ ]:
[10, 20, 30, 30, 30, 20, 10].count(30)
['1', '2', '3', '3', '3'].count('3')

3

In [ ]:
# [10, 20, 30].append(40, 50)
x = [10, 20, 30]
x.append([40, 50])
x
x[3] # 40이 나왔으면 좋겠는데 [40, 50]이 나옴

[40, 50]

In [ ]:
x = [10, 20, 30]
x.extend([40, 50])
x

[10, 20, 30, 40, 50]

In [ ]:
[10, 20, 30, 40, 1, 2, 10].index(30)

2

In [ ]:
x = [10, 20, 30]
x.insert(1, 10000)
x # 값 넣기 0123순

[10000, 10, 20, 30]

In [ ]:
x = [10, 20, 30]
y = x.pop()
x # 뒤에서 꺼내기

[10, 20]

In [ ]:
y

30

In [ ]:
x = [10, 20, 30]
y = x.pop(0)
x # 앞에서 꺼내기

In [ ]:
# 스택과 큐
# 스택, LIFO(Last In First Out) 후입선출
# 큐, FIFO(First In First Out) 선입선출

# 자료구조, 알고리즘 공부하자

In [ ]:
I = [10, 20, 30] # 스택
I.append(40) # 뒤에 넣고 뒤에 빼기
I.pop()
# 앞으로도 뺄 수 있는데? => 스택을 구현하고 싶으시면 한 쪽 방향으로만 넣고 빼는 것으로 구현

10

In [ ]:
I = [10, 20, 30]
I.insert(0, 40) # (번째, 값)
I.pop(0)

40

In [ ]:
# 큐
I = [10, 20, 30]
I.append(40)
I.pop(0)

10

In [ ]:
# 큐
I = [10, 20, 30]
I.insert(0, 40)
I.pop(0)

40

In [ ]:
# 2차원 배열
x = 10 # 스칼라 (0차원)
x = [10, 20, 30] # 벡터 (1차원)
x = [[10, 20], [30, 40]] # 메트릭스 (2차원)
x = [[[10, 20], [30, 40]], [[10, 20], [30, 40]]] # 텐서 (3차원 이상)

In [ ]:
x = [[10, 20], [30, 40], [50, 60]]
x[1]

[30, 40]

In [ ]:
x[1][0] # 1번째 괄호 중에 0번째 값을 도출

30

In [ ]:
x = [[10, 20],
     [30, 40]]
y = [[1, 2],
     [3, 4]]

x + y # error는 안나지만 우리가 원하는결과 값은 아닙니다.

[[10, 20], [30, 40], [1, 2], [3, 4]]

In [ ]:
z = [[x[0][0] + y[0][0], x[0][1] + y[0][1]],
     [x[1][0] + y[1][0], x[1][1] + y[1][1]]]
z

[[11, 22], [33, 44]]

In [ ]:
x = [1, 2, 3, 1, 1, 1, 1]
x.remove(1) # 처음 만나는 것 하나만 지울 수 있음, 1234순서 remove(0) x
x

[2, 3, 1, 1, 1, 1]

In [ ]:
# reverse

x = [1, 5, 4, 3, 7, 2]

x.reverse() # 역순이고 역정렬이 아닙니다. 원본을 수정합니다.
x

[2, 7, 3, 4, 5, 1]

In [ ]:
x = [1, 5, 4, 3, 7, 2]

list(reversed(x)), x # 역순이고 역정렬이 아닙니다. 원본을 수정하지 않습니다.

([2, 7, 3, 4, 5, 1], [1, 5, 4, 3, 7, 2])

In [ ]:
x = [1, 5, 4, 3, 7, 2]
x.sort() # 정렬입니다. 원본을 수정합니다.
x

[1, 2, 3, 4, 5, 7]

In [ ]:
x = [1, 5, 4, 3, 7, 2]
sorted(x), x
# 정렬입니다. 원본을 수정하지 않습니다. 게다가 출력값이 리스트입니다.

([1, 2, 3, 4, 5, 7], [1, 5, 4, 3, 7, 2])

In [ ]:
# 역정렬
x = [1, 5, 4, 3, 7, 2]

# 방법 1
list(reversed(sorted(x))), x

# 방법 2
x.sort()
x.reverse()
x

[7, 5, 4, 3, 2, 1]

In [ ]:
x = [
    [10, 20, 30],
    [55, 48, 22],
    [32, 75, 35],
    [42, 55, 33]
]

def 함수(x):
    return x[2] # [] 번째 순으로 정렬

sorted(x, key = 함수)

[[55, 48, 22], [10, 20, 30], [42, 55, 33], [32, 75, 35]]

In [ ]:
x = [
    [10, 20, 30],
    [55, 48, 22],
    [32, 75, 35],
    [42, 55, 33]
]

def 함수(x):
    return x[2]

sorted(x, key = 함수)[::-1] # 이렇게는 잘 사용하지 않습니다.
sorted(x, key = 함수, reverse = True)

[[32, 75, 35], [42, 55, 33], [10, 20, 30], [55, 48, 22]]

# 튜플

In [ ]:
# 참조불변
# 변경이 불가능한 자료형입니다.

x = (10, 20, 30)
x[0] = 100
x

TypeError: 'tuple' object does not support item assignment

In [ ]:
x = (10, 20, 30)
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
x = [10, 20, 30]
y = (x, 100, 200)

y

([10, 20, 30], 100, 200)

In [ ]:
x[0] = 1000
y

([1000, 20, 30], 100, 200)

In [ ]:
# 어떨 때 튜플을 사용할까요?
# 1. 불변해야 하는 갑을 저장할 때
# 2. 갯수가 정해져 있는 자료구조를 표현할 때

In [ ]:
{'one':1, 'two':2}.items()

dict_items([('one', 1), ('two', 2)])

# 딕셔너리

In [ ]:
# 순서가 있습니다. python 3.6 version에서부터 순서가 생겼습니다.
# 변경이 가능한 자료형입니다.
# key와 value의 쌍으로 이루어져 있습니다.

{'한라산': 3200, '백두산': 4000, '사라봉': 300}
{'one': '하나', 'two': '둘', 'three': '셋'}

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
d = {'one': 1, 'two': 2}
d['one']
# d[0]

1

In [ ]:
d['one'] = '하나'
d

{'one': '하나', 'two': 2}

In [ ]:
type(d)

dict

In [ ]:
dir(d)

# clear
# copy
# fromkeys
# get
# items
# keys
# pop
# popitem
# setdefault
# update
# values

jeju = {'한라봉': 4000, '바나나': 2000, '귤':500}
seoul = jeju

seoul['한라봉'] = 5000
jeju

{'한라봉': 5000, '바나나': 2000, '귤': 500}

In [ ]:
jeju = {'한라봉': 4000, '바나나': 2000, '귤':500}
seoul = jeju.copy()

seoul['한라봉'] = 5000
jeju, seoul

({'한라봉': 4000, '바나나': 2000, '귤': 500}, {'한라봉': 5000, '바나나': 2000, '귤': 500})

In [ ]:
dict.fromkeys('hello')

{'h': None, 'e': None, 'l': None, 'o': None}

In [ ]:
dict.fromkeys('hello', True)

{'h': True, 'e': True, 'l': True, 'o': True}

In [ ]:
dict.fromkeys(['하나', '둘', '셋'], True)

{'하나': True, '둘': True, '셋': True}

In [ ]:
jeju = {'한라봉': 4000, '바나나': 2000, '귤': 500}
# jeju['천혜향']
jeju.get('천혜향', '값이 없습니다!')
jeju.get('한라봉', '값이 없습니다!')

4000

In [ ]:
jeju = {'한라봉': 4000, '바나나': 2000, '귤': 500}
# jeju.items()[0]
jeju.items()
list(jeju.items())

[('한라봉', 4000), ('바나나', 2000), ('귤', 500)]

In [ ]:
list(jeju.items())[0][1]

4000

In [ ]:
jeju.keys()

dict_keys(['한라봉', '바나나', '귤'])

In [ ]:
jeju.values()

dict_values([4000, 2000, 500])

In [ ]:
jeju = {'한라봉': 4000, '바나나': 2000, '귤': 500}

jeju.pop('한라봉')
jeju

{'바나나': 2000, '귤': 500}

In [ ]:
jeju = {'한라봉': 4000, '바나나': 2000, '귤': 500}

jeju.popitem()
jeju

{'한라봉': 4000, '바나나': 2000}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("three", "셋test")
print(four_value)
print(numbers)

셋
{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'three': '셋test', 'four': '넷', 'five': '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋test', 'four': '넷', 'five': '다섯'}

In [ ]:
{'one': '하나', 'two': '둘', 'three': '셋'} | {'four': '넷'}

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}

# 셋

In [ ]:
# 중복을 허락하지 않는 순서가 없는 자료형
s = {1, 2, 3, 4, 4, 4, 4, 4, 4}
s

{1, 2, 3, 4}

In [ ]:
set('hello world')

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [ ]:
s = {1, 2, 3}
ss = {3, 4, 5}

s - ss # 차집합
s & ss # 교집합

{3}

In [ ]:
s = {1, 2, 3}
ss = {3, 4, 5}

print(s.difference(ss)) # 차집합
print(s.union(ss)) # 합집합
print(s.intersection(ss)) # 교집합

{1, 2}
{1, 2, 3, 4, 5}
{3}

In [ ]:
s = {1, 2, 3}
s.add(4)
s

{1, 2, 3, 4}

In [ ]:
s = {1, 2, 3}
s.remove(3)
s

{1, 2}

# built-in function

In [ ]:
sum([10, 20, 30, 40])

100

In [ ]:
len([10, 20, 30, 40])

4

In [ ]:
sum([10, 20, 30, 40], 100)

200

In [ ]:
sum([[10, 20], [30, 40]], [])
# sum([[10, 20], [30, 40]]) X

[10, 20, 30, 40]

In [ ]:
[10, 20] + []
[10, 20] + [30, 40]

[10, 20, 30, 40]

In [ ]:
sum([[10, 20], [30, 40]], [])
sum(sum([[10, 20], [30, 40]], []))

100

In [ ]:
len('hello world')

11

In [ ]:
len({1, 2, 3})

3

In [ ]:
len({'one': 1, 'two': 2})

2

In [ ]:
'h' in 'hello'
1 in [1, 2, 3, 4]
1 in {1, 2, 3, 4}
'one' in {'one': 1, 'two': 2}
# 1 in {'one': 1, 'two': 2} 이런식으로는 사용할 수 없습니다.

True